* {
  box-sizing: border-box;
  font-family: Ubuntu;
  background-color: #BBBBBB;  // TODO
}

.pvttest {
  max-width: 500px;  
}

#response-timer {
  border: 1px solid green;
  padding: 10px;
}

.debug {
  background-color: lemonchiffon;
  padding: 10px 10px 0px 10px;
}

.stimulus {
  background-color: lightblue;
  height: 80px;
  width: 100%;
  color: darkred;
  font-size: 36px;
  text-align: center;
  padding: 15px; 
  display: table;
}

.stimulus-text {
  display: table-cell;
  vertical-align: middle;
}

.results {
  border: 1px solid gray;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: auto;
  margin: 10px 0px;
}

td {
  border: 1px solid blue;  
  text-align: right;
  padding: 0px 5px;
}

td.lapse {
  background-color: pink;
}

th {
  text-align: left;
  padding: 0px 5px;
}

caption {
  margin-top: 0px;
  padding: 5px;
  font-size: 20px;
  color: grey;
}

.settings {
  border: 1px solid gray;
  display: inline-block;
  width: 49%;
  padding: 5px;
}


.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

input[type=submit], input[type=button], button {
  background-color: green;
  border: none;
  font-size: 24px;
  color: white;
  padding: 8px 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}

input[type=text], textarea {
  font-size: 20px;
  width: 100%;
  
}

#reset {
  margin: 20px 0px;  
}

#ready {
  font-size: 24px;
  text-align: center;
}

.progress {
  height: 5px;
}

#frame {
  width: 100%;
  border: 1px solid green;
  border-top: 0px;
}

#bar {
  background-color: green;
}